@charset "UTF-8";

.width100percent {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}
#map {
    margin-top: 30px;
    /*background-image: url('worldmap.png');*/
    /*background-repeat: no-repeat;*/
    /*width: 1280px;
    height: 640px;*/
    position: relative;
}

#map img {
    position: absolute;
    bottom: 7.5%;
    right: 10%;
}


#map p {
    position: absolute;
    bottom: 10%;
    left: 10%;
}
body {
    /*background-image: url('worldmap.png');*/
    /*background-repeat: no-repeat;*/
}

#nav {
    margin-bottom: 100px;
}

/*div#japan {
    position: absolute;
    top: 250px;
    left: 600px;
}
div.country {
    position: relative;
    color: red;
    font-size: 4rem;
    cursor: pointer;
}
div.country:after {
    content: '●';
}

div#southafrica {
    position: absolute;
    top: 480px;
    left: 160px;
    /*color: pink;
}
div#australia {
    position: absolute;
    top: 480px;
    left: 530px;
}
div#chile {
    position: absolute;
    top: 480px;
    left: 1140px;
}
div#germany {
    position: absolute;
    top: 190px;
    left: 100px;
}
div#usa {
    position: absolute;
    top: 250px;
    left: 950px;
    color: blue !important;
}*/

.click-able-panel .panel-body {
    cursor: pointer;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
